$font-primary: 'Montserrat', sans-serif;
$font-alternates: 'Montserrat Alternates', sans-serif;

.hello-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;  

    h1{
        font-weight: 500;
        margin: 0;
    }
    span{
        color: var(--orange-900);
    }
}

.view-more-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    animation: move 1.1s infinite alternate;
    span{
        font-size: 15px;
        color: var(--gray-700);
    }
    svg{
        width: 140px !important;
        height: 40px;
        font-size: 45px;
        color: var(--gray-700);
    }
}

@media screen and (max-width: 400px) {
    .view-more-container{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .view-more-container{
        display: none;
    }
}


@keyframes move {
    0% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(8px);
    }
}

.about-me {
    display: flex;
    height: 61rem;
    align-items: center;
    justify-content: center;
    font-family: $font-primary;
}

body.no-scroll{
 overflow: hidden;
}


