$font-primary: 'Montserrat', sans-serif;
$font-alternates: 'Montserrat Alternates', sans-serif;

.hello, .name{
    font-family: $font-primary;
}
.more{
    font-family: $font-alternates;
}

.hello{
    color: var(--white-700);
    font-size: 35px;
}
 
.name{
    color: var(--white-900);
    font-size: 65px;
}

.more{
    color: var(--white-700);
    font-size: 25px;
}

@media screen and (max-width: 400px) {
    .hello{
        font-size: 25px;
    }   
    .name{
        font-size: 30px;
    }
    .more{
        font-size: 14px;
    }
}