
.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61rem;
}

@media screen and (max-width: 750px) {
    .projects-container{
        height: auto;
    }
}

